@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@theme {
  --color-stone-black: #1C1C1C;
  --color-stone-gray: #6E7072;
  --color-vein-gray: #BFC1C2;
  --color-gold-accent: #C9A24D;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-stone-black); /* Start with black for a premium feel */
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #1C1C1C;
}
::-webkit-scrollbar-thumb {
  background: #C9A24D;
}